
img {
    display: block;
    width: 300px;
    
  }
  .titulo{
    padding-top: 50px;
    padding-block-end: 30px;
}

  .logo{
    display: flex;
    justify-content: center;
    padding-block-end: 30px;
  }

.cambio{
    padding-top: 10px;
}

.cambio2{
    padding-top: 10px;
    margin-bottom: 40px;
}

img {
    display: block;
    width: 200px;
  }
  .logo{
    display: flex;
    justify-content: center;
  }

.fot{
    padding-top: 100px;
}
  